.sub-list {
    display: none;
}
.sub-list .list-group {
    margin-bottom: 0;
}

.toggler {
    cursor: pointer;
}

.pre {
    white-space: pre;
    font-family: 'Courier New' monospace;
}
.pre .sub-list {
    margin-left: 15px;
}
.covered {
    background: #f5f5f5;
}
.highlight {
    background: #fb8;
}

.line {
    position: relative;
    overflow: visible;
    white-space: pre;
    font-family: 'Courier New' monospace;
}
.line .line-menu {
    white-space: normal;
    position: absolute;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 400px;
    display: none;
    padding: 10px;
    background: white;
    border: solid 1px #666;
    border-radius: 10px;
}
.open {
    display: block;
}

.list-group-item.active a {
    color: white;
}

.sub-list .active {
    font-weight: bold;
}

.a {
    cursor: pointer;
    text-decoration: underline;
}
.a:hover {
    text-decoration: none;
}
.a.line-menu-close {
    text-decoration: none;
}
